.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 65px;
    width: 97%;
    background-color: #282828;
  }
 .footer_left {
   flex: 0.3;
 } 

 .footer-center {
   flex: 0.4;
   padding: 0 100px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 300px;
   }

   .footer_right {
     flex: 0.3;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;     
   }
   .footer_albumlogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
   }