.heater {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header_left {
    background-color: white;
    color: grey;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.header_left > input {
    border: none;
    width: 100%;
}